@using static Models.Academic.PublicSchoolSchedule
@model Models.ViewModels.PublicSchoolScheduleVM

<h2 class="text-primary">Update Public School Session</h2>

<form>
    <input asp-for="Student.Id" hidden readonly />
    <input asp-for="Student.Address" hidden readonly />
    <input asp-for="Student.Birthday" hidden readonly />
    <input asp-for="Student.ComputerLevel " hidden readonly />
    <input asp-for="Student.EnglishLevel" hidden readonly />
    <input asp-for="Student.FirstName" hidden readonly />
    <input asp-for="Student.LastName" hidden readonly />
    <input asp-for="Student.Village" hidden readonly />
    <input asp-for="Student.Status" hidden readonly />
    <input asp-for="Student.Phone" hidden readonly />
    <input asp-for="Student.FullName" hidden readonly />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-2 row">
                <div class="mb-3 col-4">
                    <label asp-for="PublicSchoolSchedules.StartTime"></label>
                    <input asp-for="PublicSchoolSchedules.StartTime" asp-format="H:mm" class="form-control" />
                </div>
                <div class="mb-3 col-4">
                    <label asp-for="PublicSchoolSchedules.EndTime"></label>
                    <input asp-for="PublicSchoolSchedules.EndTime" asp-format="H:mm" class="form-control" />
                </div>
                <div class="mb-3 form-check-inline">
                    @Html.RadioButtonFor(w => w.PublicSchoolSchedules.Weekday, Weekdays.Monday)@Html.Label("Monday")<br />
                    @Html.RadioButtonFor(w => w.PublicSchoolSchedules.Weekday, Weekdays.Tuesday)@Html.Label("Tuesday")<br />
                    @Html.RadioButtonFor(w => w.PublicSchoolSchedules.Weekday, Weekdays.Wednesday)@Html.Label("Wednesday")<br />
                    @Html.RadioButtonFor(w => w.PublicSchoolSchedules.Weekday, Weekdays.Thursday)@Html.Label("Thursday")<br />
                    @Html.RadioButtonFor(w => w.PublicSchoolSchedules.Weekday, Weekdays.Friday)@Html.Label("Friday")<br />
                </div>
                <div class="d-flex justify-content-start" role="group">
                    <input type="submit" name="Weekday" value="Update Schedule" class="btn btn-primary">
                    <a asp-controller="PublicSchoolSchedule" asp-action="Schedule" class="btn btn-secondary" style="width:150px">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
