@using Models.ViewModels
@model AttendanceVM
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Attendance</h2>
        </div>
    </div>
    <br /><br />
    <h4>Attendance for Class</h4>
    <form method="post" enctype="multipart/form-data">
        <table cclass="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Present</th>
                    <th>Absent</th>
                    <th>Tardy</th>
                    <th>Excused</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AttendanceList.Count(); i++)
                {
                    <tr>
                        <td>
                            <label>@Model.AttendanceList[i].CourseEnrollment.Student.FullName</label>
                            <input type="hidden" asp-for=@Model.AttendanceList[i].CourseEnrollment.Student.Id name=@Model.AttendanceList[i].CourseEnrollment.Student.Id>
                        </td>
                        <td>
                            <input type="checkbox" asp-for="@Model.AttendanceList[i].Present">
                        </td>
                        <td>
                            <input type="checkbox" asp-for="@Model.AttendanceList[i].Absent">
                        </td>
                        <td>
                            <input type="checkbox" asp-for="@Model.AttendanceList[i].Tardy">
                        </td>
                        <td>
                            <input type="checkbox" asp-for="@Model.AttendanceList[i].Excused">
                        </td>
                    </tr>

                    <input asp-for=@Model.AttendanceList[i].Id hidden>
                    <input asp-for=@Model.AttendanceList[i].CourseEnrollmentId hidden>
                }
               @* @foreach (var obj in Model.CourseEnrollmentList)
                {
                    <tr>
                        <td>
                            @obj.Student.FirstName @obj.Student.LastName
                        </td>
                        <td>
                            <input type="checkbox" asp-for="Attendance.Present">
                        </td>
                        <td>
                            <input type="checkbox" asp-for="Attendance.Absent">
                        </td>
                        <td>
                            <input type="checkbox" asp-for="Attendance.Tardy">
                        </td>
                        <td>
                            <input type="checkbox" asp-for="Attendance.Excused">
                        </td>
                    </tr>
                }*@
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" style="width: 150px">Accept Attendance</button>
        <a asp-controller="Attendance" asp-action="SessionSelect" class="btn btn-secondary">Back to Sessions</a>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
