@{
    ViewData["Title"] = "Edit";
}
@model Models.Academic.Attendance
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Attendance</h2>
        </div>
    </div>
    <br /><br />
    <form method="post" enctype="multipart/form-data">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Date</th>
                    <th>Attendance</th>
                    <th>Excused</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label>@Model.Id</label>
                        <input type="hidden" asp-for="Id" hidden disabled/>
                    </td>
                    <td>
                        <label>@Model.DateTaken</label>
                        <input asp-for="DateTaken" hidden disabled />
                    </td>
                    <td>
                        <div>
                                @Html.RadioButtonFor(Model => Model.MarkedAttendance, "Present")@Html.Label("Present")
                                @Html.RadioButtonFor(Model => Model.MarkedAttendance, "Absent")@Html.Label("Absent")
                                @Html.RadioButtonFor(Model => Model.MarkedAttendance, "Tardy")@Html.Label("Tardy")
                            </div>
                    </td>
                    <td>
                        <input type="checkbox" asp-for="Excused" />
                    </td>
                </tr>
                <input asp-for="CourseEnrollmentId" hidden/>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" style="width: 150px">Edit Attendance</button>
        <a asp-controller="Attendance" asp-action="ViewAttendance" class="btn btn-secondary">Back to Viewing Attendance</a>
    </form>
</div>