@{
    ViewData["Title"] = "Attendance";
}
@using Utilities
@using Models.ViewModels
@model AttendanceVM
<div class="container p-3">
    @if(Model.AttendanceList.Count() != 0){
        <h4>Attendance for: @Model.AttendanceList[0]?.CourseEnrollment?.CourseSession?.CourseName</h4>
    }else{
        <h4>No Students are enrolled in this course session</h4>
    }
    
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" readonly asp-for=isFromEdit>
        <input type="hidden" readonly asp-for=Status>
        <input type="hidden" readonly asp-for=SessionAttendance.Id>
        <input type="hidden" readonly asp-for=SessionAttendance.CourseSessionId>
        <div class="mb-3">
            <label asp-for="SessionAttendance.DateTaken"></label>
            <input asp-for="SessionAttendance.DateTaken" class="student-edit-input form-control" />
            <span asp-validation-for="SessionAttendance.DateTaken" class="text-danger"></span>
        </div>
        <table class="table table-bordered table-striped" style="width:100%">
            <h2 class="text-primary">
                <span class="col-10"></span>
                <div class="btn-group float-end" role="group" aria-label="Mark All">
                    <button type="button" class="btn btn-secondary" onclick="markAllTardy()">Tardy</button>
                    <button type="button" class="btn btn-secondary" onclick="markAllAbsent()">Absent</button>
                    <button type="button" class="btn btn-secondary" onclick="markAllPresent()">Present</button>
                </div>
                <div class="btn-group float-end" role="group" aria-label="Excused">
                    <button type="button" class="btn btn-secondary" onclick="markAllExcused()">Excused</button>
                </div>
            </h2>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Attendance</th>
                    <th>Excused</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AttendanceList.Count(); i++)
                {
                    <input type="hidden" asp-for=@Model.AttendanceList[i].SessionAttendanceId>
                    <tr>
                        <td width="40%">
                            <label>@(Model.AttendanceList[i]?.CourseEnrollment?.Student?.FullName ?? "No name found")</label>
                        </td>
                        <td width="30%">
                            <div>
                                @Html.RadioButtonFor(Model => Model.AttendanceList[i].MarkedAttendance, SD.AttendancePresent, new {@class = SD.AttendancePresent + " m-1"})@Html.Label(SD.AttendancePresent)
                                @Html.RadioButtonFor(Model => Model.AttendanceList[i].MarkedAttendance, SD.AttendanceAbsent, new {@class = SD.AttendanceAbsent + " m-1"})@Html.Label(SD.AttendanceAbsent)
                                @Html.RadioButtonFor(Model => Model.AttendanceList[i].MarkedAttendance, SD.AttendanceTardy, new {@class = SD.AttendanceTardy + " m-1"})@Html.Label(SD.AttendanceTardy)
                            </div>
                        </td>
                        <td width="10%">
                            <input class="excused-checkbox" type="checkbox" asp-for="@Model.AttendanceList[i].Excused">
                        </td>
                    </tr>
                    <input type="hidden" asp-for=@Model.AttendanceList[i].Id >
                    <input type="hidden" asp-for=@Model.AttendanceList[i].SessionAttendanceId >
                    <input type="hidden" asp-for=@Model.AttendanceList[i].CourseEnrollmentId >
                    <input type="hidden" asp-for=@Model.AttendanceList[i].CourseEnrollment.StudentId >
                    <input type="hidden" asp-for=@Model.AttendanceList[i].CourseEnrollment.CourseSessionId >
                    <input type="hidden" asp-for=@Model.AttendanceList[i].CourseEnrollment.Id >
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" style="width: 150px">Accept Attendance</button>
        @if (Model.isFromEdit)
        {
            <a asp-controller="Attendance" asp-action="ViewAttendance" asp-route-status="@Model.Status" asp-route-sessionId="@Model.SessionAttendance.CourseSessionId" class="btn btn-secondary">Back to Attendance</a>
        }
            <a asp-area="Applicant" asp-controller="Session" asp-action="Index" asp-route-status="@Model.Status" class="btn btn-secondary">Back to Sessions</a>
        
    </form>
</div>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
     <script src="~/js/markAttendance.js"></script>
    }
