@{
    ViewData["Title"] = "Ratings";
}
@model IList<Models.ViewModels.RatingVM>
<form method="post">

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Ratings</h2>
                <br />
                <button type="submit" value="SaveStudent" class="btn btn-primary" style="width:150px;">Accept Applicants</button>
            </div>

        </div>
        <br />

        <br />
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Academics
                    </th>
                    <th>
                        Finances
                    </th>
                    <th>
                        Family Support
                    </th>
                    <th>
                        Distance
                    </th>
                    <th>
                        Average Score
                    </th>
                    <th>
                        Accept Applicant
                    </th>
                </tr>
            </thead>
            <tbody>

                @for (var i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => modelItem[i].Id)
                            @Html.HiddenFor(modelItem => modelItem[i].Name)
                            @Html.DisplayFor(modelItem => modelItem[i].Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem[i].AvgAge)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem[i].AvgAcademics)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem[i].AvgFinances)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem[i].AvgSupport)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem[i].AvgDistance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => modelItem[i].AvgScore)
                        </td>
                        <td>
                            @Html.CheckBoxFor(modelItem => modelItem[i].accepted)
                        </td>
                    </tr>



                }

            </tbody>
        </table>
    </div>
</form> 